@import "tailwindcss";

:root {
  --first-color: 	#1C2028;
  --second-color: #2E3642;
  --third-color: #3c649f;
  --fourth-color: #4779c4;
  --fifth-color: #83aff0;
  --foreground: #EBEBEC;
}

body {
  background: var(--second-color);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.white-component {
  @apply bg-[#EBEBEC] text-[#1C2028];
}